.divider{ 
    padding: 0 20px 0;  
    margin: 30px 0 10px 0px;  
    line-height: 1px;  
    border-left: 190px solid #ddd;  
    border-right: 190px solid #ddd;  
    text-align: center; 
    font-weight: bolder;
 }

.tips{color:red;font-size:12px;border:1px solid grey;border-radius:5px;background-color:yellow;position:relative;top:-4px;}

.err{color:red;font-weight: bolder;} 

.fixed{color:green;} 


.tag{
    border:1px solid gray;;
    background-color: aquamarine;
    color:black;
    box-shadow: #ddd 3px 4px;
    border-radius: 5px;
    font-size: 8px;
    padding:2px;
    margin:3px 3px;
}